body {
  background-image: url("./assets/body-bg.avif");
  background-repeat: no-repeat;
  background-size: cover;   
  background-position: center;
  height: 100vh;              
  margin: 0;                  
}
